*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.whether{
    width: 80%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 100px;
    margin: 10px auto;
}
.search-contanier{
    text-align: center;
    font-size: 22px;
}
#search{
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}
#searchBtn{
    padding: 20px;
    background-color: black;
    color: #ffffff;
    border: none;
    font-weight: 900;
    border-radius: 10px;
}
#searchBtn:hover{
    background-color: bisque;
    color: black;
}
.card{
    width: 40%;
    padding: 50px;
    margin: 20px auto;
    border: 2px solid grey;
    box-shadow: 2px 3px 7px grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-info>*{
    margin: 10px;
}
